/* #p2{
    color: aquamarine   ;
} */
* {
    padding: 0;
    margin: 0;
  }
  #menu-nav{
   padding-left: 40px;
    padding-top: 5px;
    display: flex;
    background-color: rgb(7, 130, 171);
    width: 100%;
    height: 60px;
    list-style: none;
}
#menu li a {
    font-size: 16px;
    display: block;
    padding: 10px;
    color: #fff;
    background-color:  rgb(7, 130, 171);
  }
  #menu > li {
    height: 60px;
  list-style: none;
  padding-top: 20px;
  padding-left: 50px;
  color: #fff;
  float: left;
  position: relative;
}

#menu > li > ul.childs {
    list-style: none;
    position: absolute;
    list-style: none;
    display: none;
    top: 55px;
    left: 30px;
    width: 200px;
  }
  #menu > li:hover > a {
    background-color: rgb(68, 191, 233);
  }
  #menu > li:hover > ul.childs {
    z-index: 100;
    display: block;
    transition: 1s;
  }
  ul.childs > li:hover > a {
    background-color: rgb(68, 191, 233) !important;
    transition: 1s;
  }
  #menu > li:hover  {
    color: rgb(184, 231, 247);
    transition: 0.5s;
    cursor: pointer;
  }
  #menu-right{
    border: none;
    display: flex;
    margin-left: 250px;
    height: 40px;
    padding-top: 15px;
  }
  #menu-right button{
    position: absolute;
    margin-left: 160px;
    border: #fff;
    background-color: #fff;
    height: 5px;
  top: 22px;
  }
aside{
  border: 1px solid black ;
  padding-left: 40px;
  background-color: aliceblue;
}

 
 
  
  
